/********
 ********
 ** Heydron Pickering example
 ** October 15, 2014
 ** Replacing radio buttons without replacing radio buttons
 ** https://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
 ********
 ********/

 /* One input per line */
.provisional label { /* (0,1,1) */
  cursor: pointer;
  display: block;
  font-size: 20px;
  line-height: 2;
}

.provisional [role="checkbox"] { /* (0,2,0) */
  cursor: pointer;
  display: inline-block;
  padding-left: 15px;
  position: relative;
}

.provisional fieldset.chkbxrdio-grp legend { /* (0,2,2) */
  float: none;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 0;
}

.provisional [type="radio"],
.provisional [type="checkbox"] { /* (0,2,0) */
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  position: absolute; 
  overflow: hidden; 
  width: 1px;
}

.provisional [type="radio"] + span,
.provisional [type="checkbox"] + span { /* (0,2,1) */
  display: block;
  margin-left: 36px;
}

.provisional [role="checkbox"]::before,
.provisional [role="checkbox"]::after { /* (0,2,1) */
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-100%, 0%);
}

.provisional .wb-checklist.wb-checklist-sm { /* (0,3,0) */
  font-size: 17px;
}

/* the basic, unchecked style */
.provisional [role="checkbox"]::before { /* (0,2,1) */
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px #000;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.provisional .wb-checklist-sm [role="checkbox"]::before { /* (0,3,1) */
  border-width: 3px;
  height: 24px;
  transform: translate(-100%, 20%);
  width: 24px;
}

.provisional [type="radio"] + span::before,
.provisional [type="checkbox"] + span::before { /* (0,2,2) */
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px #000;
  content: "";
  display: inline-block;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.provisional [type="radio"] + span::before { /* (0,2,2) */
  border-radius: 50%;
}

/* hover styling */
.provisional [type="radio"]:hover + span::before,
.provisional [type="checkbox"]:hover + span::before, /* (0,3,2) */
.provisional [role="checkbox"][aria-checked="false"]:hover::before { /* (0,3,1) */
  background-image: linear-gradient(to bottom, hsl(10, 0%, 90%), hsl(10, 0%, 100%) 50%);
}

/* focus styling */
.provisional [role="checkbox"]:focus { /* (0,3,0) */
  outline: none;
}

.provisional [type="radio"]:focus + span::before,
.provisional [type="checkbox"]:focus + span::before,
.provisional [role="checkbox"]:focus::before { /* (0,3,2) */
  box-shadow: 0 0 0 2px #000, 0 0 8px 4px rgb(59, 153, 252);
}

/* the checked style using the :checked pseudo class and aria-checked=true attribute */
.provisional [role="checkbox"][aria-checked="true"]::before { /* (0,3,1) */
  background-color: #318000;
  border-width: 2px;
}

.provisional [role="checkbox"][aria-checked="true"]::after { /* (0,3,1) */
  border-color: white;
  border-style: solid;
  border-width: 0 5px 5px 0;
  display: inline-block;
  height: 26px;
  width: 13px;
  transform: translate(-185%, 10%) rotate(45deg);
}

.provisional .wb-checklist-sm [role="checkbox"][aria-checked="true"]::after { /* (0,3,1) */
  border-width: 0 4px 4px 0;
  height: 16px;
  width: 9px;
  transform: translate(-185%, 40%) rotate(45deg);
}

.provisional [type="radio"]:checked + span::before { /* (0,3,2) */
  background: #444;
}

.provisional [type="checkbox"]:checked + span::after { /* (0,3,2) */
  border-color: #333;
  border-style: solid;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 26px;
  left: 12px;
  position: absolute;
  top: 2px;
  transform: rotate(45deg);
  width: 13px;
}