h1 span.stacked {
            display: flex;
            flex-direction: column-reverse;
            margin-left: -9999px;
}
h1 span.stacked span:nth-child(1), h1 span.stacked span:nth-child(2) {
            margin-left: 9999px;
}
h1 span.stacked span:nth-child(2) {
            font-size: 0.8em;
            color: #666;
            font-weight: 200;
            margin-bottom: 0.175em;
}
h1 span.stacked span:nth-child(1) {
            margin-top: -1.1em;
}

/* fixes mobile scaling, the long URL examples cause horizitonal overflow */
.breakable {
  word-break: break-word !important;
}

@media screen and (max-width: 737px) {
#wb-bc li:before {
    color: #333;
    content: "<"!important;
    font-size: 1.5em;
}


.gcweb-v2~#wb-bc ol {

  margin-top: 5px !important;
}

}
@media screen and (min-width: 737px) {
.no-break-breadcrumb {
  display: inline-block!important;
}



}

/* long doc stuff */





@media screen and (max-width: 991px) {

  #toc.mobile-toc-scroll {
    position: fixed !important;
    top: 50px !important; /* need to write this to change depending on window position */
    overflow: scroll !important;
    width: 100% !important;
    z-index: 10 !important;
    height: 100% !important;
  }
  
#toc {
background-color: white !important;
z-index: 1;
/* padding: 1em 1em 1em 2em; */
margin-left: 0px !important;
display: none;
position: absolute !important;

}

.sticky, .overfooter {
display: none !important;
}

}


#toc.sticky {
position: fixed !important;
top: 0px;
/* width: 395px; done with jquery now */
bottom: 0px;
overflow-y: auto;
}
#toc.overfooter {
/* position: relative !important; */
bottom: 0px!important;
top: 0;
/* color: red !important;*/
/* max-height: 18em !important; */
overflow-y: scroll;

}

#toc {
position: sticky;
margin-left: -13px;
overflow-y: auto;
}

#btn-toc
{
position: sticky;
top: 0px;
z-index: 2
}

.btn-toc-style {
  background-color: #335075;
  height: 45px;
}

.btn-toc-style .btn {
  border-style: none !important;
}
