@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext');

.ip-cover-img {
	background-image: url("../images/ip-cover-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	margin-top: 15px;
	padding-bottom: 25px;
}

.most-requested li {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 0
}

.most-requested h2 {
	font-size: 1.2em;
}

.ip-btn {
	font-size: 1em;
}

/* supports the 3 column layout for MR instead of 4 columns */
.list-responsive-3 > li {
    float: left;
    padding-right: 5px;
    width: 50%
}

.list-responsive-3 > li:nth-child(2n+2) {
    clear: right
}

.list-responsive-3:before,
.list-responsive-3:after {
    content: " ";
    display: table
}

.list-responsive-3:after {
    clear: both
}


.followus {
	float: none;
	margin-left: 0
}

}
.followus h2 {
	margin: 5px 4px 0 0;
	font-size: 16px !important;
	display: block;
	float: left;
}
.followus ul li a {
	padding: 15px 22px 0;
	border: none;
}
.followus ul li a:hover, .followus ul li a:focus {
	opacity: .6;
	border: none;
}
.followus .email {
	background: url(../images/email.png) no-repeat
}
.followus .facebook {
	background: url(../images/facebook.png) no-repeat
}
.followus .flickr {
	background: url(../images/flickr.png) no-repeat
}
.followus .googleplus {
	background: url(../images/googleplus.png) no-repeat
}
.followus .instagram {
	background: url(../images/instagram.png) no-repeat
}
.followus .linkedin {
	background: url(../images/linkedin.png) no-repeat
}
.followus .periscope {
	background: url(../images/periscope.png) no-repeat
}
.followus .pinterest {
	background: url(../images/pinterest.png) no-repeat
}
.followus .rss {
	background: url(../images/rss.png) no-repeat
}
.followus .twitter {
	background: url(../images/twitter.png) no-repeat
}
.followus .youtube {
	background: url(../images/youtube.png) no-repeat
}

/* still working to clean up unnecessary code */
aside.feature {
	float:right;
	max-width: 300px;
	box-shadow: 0 0 10px #ddd;
	border:0;
	position: absolute;
  bottom: 0;

	}
aside.feature .pstn-tp-xs {background:#fff; padding:4px;}

.featured {
  margin-bottom: 0em;
	padding-top:20px;
  padding-bottom:20px;
	color:#fff;
	background: #31708f;
}

.featured  h2 {margin-top:15px; }
.featured img {float:left; margin-right: 15px;}
.featured a {color:#fff}
.home .home-banner {padding-bottom:0;}

@media screen and (max-width: 1200px) {

  .featured {
  	padding-left:.8em;
}

}

.learnmore, .admin {

	font-weight: bold !important;
	text-decoration: underline !important;
}

.admin {

	font-size: 18px !important;
}

ul.feeds-cont li a {
	font-weight: bold;
}



section.lnkbx ul {

	padding-top: 15px;
	padding-bottom: 18px;
}


@media screen and (min-width: 1200px) {
.list-responsive-3 > li {
    width: 33%;
}
}

@media screen and (max-width: 767px) {

.btn-call-to-action {

	font-size: 19px !important;
}

.most-requested li {
	font-size: 19px;
}

.list-responsive-3 > li {
        clear: right;
        width: 100%
    }

.mobile-left {
	float: left !important;
}

}
